<h2>Signup</h2>
    <form class="signup-form">
        <div class="signup">
            <label for"name">Name:</label>
            <input class="name-input" type="text" id="signup-name"/>
            <div class="signup"></div>
            <label for="email">email:</label>
            <input class="signup" type="text" id="signup-email"/>
            </div>
            <div class="signup">
                <label for="create-password">password:</label>
                <input class="password-input" type="password" id="create-password"/>
            </div>
            <div class="signup">
                <button class="signup-button"id="signup" type="submit">Signup</button>
            </div>
        </div>
    </form>
    </div>